html,body{
    height: 100%;
    max-width: 100vw;
    width: 100%;
    margin: 0;
    padding: 0;


}
* {
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    margin: 0;
    padding: 0;
}

.imagemLogo {
    position: relative;
    left: 5%;
    width: 2%;
    bottom: 1.5rem;
}

h1 {

    font-size:2.3rem ;
    text-align: center;
    color: #0A3871;
    padding-top: 1rem;

}
main{
    width: 100%;
    height: 100%;
    display: flex;
}
.texto{
    margin-left:4% ;
    border:none;
    color: #0A3871;
    text-transform: lowercase;
    border-radius: 24px;
    padding-left: 2rem;
    
}
::placeholder {color: #0A3871;}
    .texto:focus{
        outline:none;
    }

.texto:hover{

    background: #FFFFFF;
    transition: 400ms;
    cursor: pointer;
}

.mensagem {

    background-color: white;
    background-image: url(imagem/boneco075.png);
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center 80px;
    border:none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 7%;
    padding: 1rem;
    display: flex;

}

.mensagem:focus{

    outline: none;
}
h6 {
    margin-left:8% ;
    display: inline-flex;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;

}

h6:before{
    content: url(imagem/aviso.png);
    margin-right: 5px;
}

.btn-encriptografar{
    font-size: 1.6rem;
    display: inline-flex ;
    padding: 0.75rem  4.2rem;
    margin-left: 15rem ;
    border: none;
    background-color: #0A3871;
    color: #FFFFFF;
    border-radius: 24px;
    margin-right: 1rem;
}

.btn-desencriptografar{
    border:solid 1px #0A3871;
    display: inline-flex;
    font-size: 1.55rem;
    padding: 0.75rem 3.8rem;
    border-radius: 24px;

    color: #0A3871;
    background-color: #E5E5E5;
}

.btn-encriptografar:hover {

    background-color: green;
    padding: 0.75rem 3rem;
    cursor: pointer;
    transition: 600ms;

}

.btn-desencriptografar:hover{

    color: #FFFFFF;
    padding: 0.75rem 2rem;
    cursor: pointer;
    transition: 600ms;
    background: green;
    border: none;

}

.area-mensagem{

    position: relative;
}

.texto-semMensagem{

    width: 70%;
    position:absolute;
    bottom: 13rem;
    right: 2rem;
    background: #FFFFFF;

}
.btn-copiar{

    color: #FFFFFF;
    font-size: 1.5rem;
    border: none;
    border-radius: 24px;
    background: #0A3871 ;
    position: relative;
    padding: 0.75rem  4.1rem;
    left: 7.3rem;
    bottom: 4rem;
    

}

.btn-copiar:hover{

    background: green;
    cursor: pointer;
    padding: 0.75rem 3.5rem;
    transition: 600ms;
}


footer {

    position: relative;
    text-align: center;

}

footer img {

    width: 1.5%;
}

.copyright{
    margin-top: 1em;
    color: #0A3871;
}


.linkedin {

    text-decoration: none;
    color: #2f70bf;
}

.github {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 600px){

    .imagemLogo{
        display: flex;
        width: 5%;

        margin-top: 1rem;
        left: 2rem;

    }

    h1{
        top: 1rem;
        position: relative;
        font-size:1.8rem ;
        justify-content: center ;
        right: 1rem;
    }

    .texto{
        margin-top: 1rem;
        display: flex;
        margin: 1.2rem;
        box-sizing: border-box;
        width: 80% ;
        height: 15rem;

        font-size: 1.5rem;

    }

    h6{
        font-size: 0.72rem;
        display: flex;
        margin-left:0.5rem;

    }

    .btn-encriptografar{
        display: inline-flex;
        padding: 0.7rem 2rem;
        margin-left: 1.5rem;
        font-size: 1rem;
    }

    .btn-desencriptografar{
        display: inline-flex;
        font-size: 1rem;
        padding: 0.7rem 1rem;
    }

    .btn-encriptografar:hover{
        padding: 0.7rem 1.8rem;

    }

    .btn-desencriptografar:hover{
        padding: 0.7rem 0.8rem;

    }
    .area-mensagem{
        position: absolute;
        top: 29rem;

    }

    .mensagem{
        top: 1rem;
        position:relative;
        display: flex;
        width: 166%;
        margin: 1.2rem;
        height:22rem;
        background-position: center 1rem;
        background-size: 40% 40%;
        height:16rem;

    }

    .texto-semMensagem{
        width: 60%;
        right: 5rem;
        top: 9rem;

    }

    .btn-copiar{
        bottom: 2rem;
        left: 6rem;
        padding: 0.7rem  4rem ;
        font-size: 1rem;
    }

    footer{
        position: absolute ;
        height: 4rem;
        font-size: 0.9rem;
        left: 0;
        bottom: 0;
        padding: 1rem;
        margin-left: 1.2rem;

    }
    footer img {
        width: 4%;
    }
} 

@media only screen and (max-device-width: 1024px){

    body{
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100vw;
    }

    .imagemLogo{

        width: 4%;
    }
    
    h1{
        font-size: 2.5rem;
        margin-top: 1rem;
    }

    .texto{
        display: flex;
        margin-top: 1rem ;
        margin-left: 2rem;
        width: 89%;
        height: 40%;
        margin-right: 2rem;
    }

    .btn-encriptografar{
        margin-left: 4rem;
    }

    .area-mensagem{
        position: absolute;
        top: 46rem;
    }

    .mensagem{
        display: flex;
        margin-top: 1rem;
        margin-left: 2rem;
        width: 166%;
        height: 19rem;
        background-size: 55% 55%;
        background-position: 1rem 1rem;
    }

    .texto-semMensagem{
        width: 80%;
        left: 23rem;
        top: 3rem;

    }

    .btn-copiar{
        left: 16rem;
    }

    footer{
        position: relative;
        text-align: center;
        font-size: 1.5rem;
    }
    footer img{
        width: 5%;

    }
}   

