* {
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
}

.imagemLogo {
    position: relative;
    left: 50px;
    float: left;
    /* padding-top: 30px; */
    width: 2%;
    bottom: 30px;
}


h1 {
    font-size: 42px ;
    text-align: center;
    color: #0A3871;
    padding-top: 30px;
}

main {
    width: 1440px;
    height: 1024px;

    display: flex;
    /* margin-bottom: 50px; */
    margin-left: 200px ;
}
.texto{
    border:none;
    color: #0A3871;
    margin-top: 30px;
    text-transform: lowercase;
    border-radius: 24px;
    
}
::placeholder {color: #0A3871;}
    .texto:focus{
        outline:none;
    }

.texto:hover{

    background: #FFFFFF;
    transition: 400ms;
    cursor: pointer;
}

/* .texto:focus{
    background-color: #FFFFFF;
} */
.mensagem {

    background-color: white;
    background-image: url(imagem/boneco075.png);
    background-repeat: no-repeat;
    background-position: center 150px;
    border:none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 40px;
    padding-left: 20px;
    position: flex;


}

.mensagem:focus{

    outline: none;
}
h6 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;

}

h6:before{
    content: url(imagem/aviso.png);
    margin-right: 5px;
}
.botoes{
    display: relative;
    margin-top:30px;

    
}

.btn-encriptografar{
    font-size: 24px;
    display: inline-block;
    margin-left: 60px;
    padding: 12px 80px;
    margin-right: 10px;
    border: none;
    background-color: #0A3871;
    color: #FFFFFF;
    border-radius: 24px;
}

.btn-desencriptografar{
    border:solid 1px #0A3871;
    display: inline-block;
    font-size: 24px;
    padding: 12px 60px;
    border-radius: 24px;

    color: #0A3871;
    background-color: #E5E5E5;
}

.btn-encriptografar:hover {

    background-color: green;
    padding: 12px 55px;
    cursor: pointer;
    transition: 600ms;

}

.btn-desencriptografar:hover{

    color: #FFFFFF;
    padding: 12px 35px;
    cursor: pointer;
    transition: 600ms;
    background: green;
    border: none;

}

.area-mensagem{

    position: relative;
}

.texto-semMensagem{

    width: 300px;
    position:absolute;
    float: right;
    bottom: 540px;
    right: 105px;
    background: #FFFFFF;

}
.btn-copiar{

    color: #FFFFFF;
    font-size: 24px;
    border: none;
    border-radius: 24px;
    background: #0A3871 ;
    position: relative;
    padding: 12px  65px;
    /* margin-left: 120px; */
    float: right;
    right:160px;
    bottom: 100px;
    

}

/* .btn-copiar-click {

    background: red;
    color: #FFFFFF;

} */

.btn-copiar:hover{

    background: green;
    cursor: pointer;
    padding: 12px 50px;
    transition: 600ms;
}


footer {

    position: relative;
    text-align: center;
    padding: 20px;
    bottom: 300px;

}

footer img {

    width: 1.5%;
}

.copyright{
    margin-top: 1em;
    color: #0A3871;
}


.linkedin {

    text-decoration: none;
    color: #2f70bf;
}

.github {
    text-decoration: none;
    color: black;
}