body {
    margin: 0;
    padding: 0;
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    display: grid;
    grid-template-columns: 1fr;

}

.imagemLogo {
    position: relative;
    left: 3%;
    width: 1.8%;
    bottom: 1.5rem;
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: #0A3871;
    padding-top: 1rem;
}


.texto {
    margin-left: 4%;
    font-size: 1.5rem;
    border: none;
    color: #0A3871;
    text-transform: lowercase;
    border-radius: 24px;


}

::placeholder {
    color: #0A3871;
}

.texto:focus {
    outline: none;
}

.texto:hover {
    background: #FFFFFF;
    transition: 400ms;
    cursor: pointer;
}

.mensagem {
    font-size: 1.5rem;
    top: 14%;
    left: 74%;
    position: absolute;
    background-color: white;
    background-image: url(imagem/boneco+texto.png);
    background-repeat: no-repeat;
    background-size: 80% 60%;
    background-position: center 80px;
    border: none;
    border-radius: 24px;
    color: #0A3871;

}

.mensagem:focus {
    outline: none;
}

h6 {
    margin-left: 4%;
    display: inline-flex;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h6:before {
    content: url(imagem/aviso.png);
    margin-right: 5px;
}

.btn-encriptografar {
    font-size: 1.5rem;
    display: inline-flex;
    padding: 0.6rem 3rem;
    margin-left: 18%;
    border: none;
    background-color: #0A3871;
    color: #FFFFFF;
    border-radius: 24px;
    margin-right: 1rem;
}

.btn-desencriptografar {
    border: solid 1px #0A3871;
    display: inline-flex;
    font-size: 1.5rem;
    padding: 0.6rem 2.5rem;
    border-radius: 24px;
    color: #0A3871;
    background-color: #E5E5E5;
}

.btn-encriptografar:hover {
    background-color: green;
    cursor: pointer;
    transition: 600ms;
} 

.btn-desencriptografar:hover {
    color: #FFFFFF;
    cursor: pointer;
    transition: 600ms;
    background: green;
    border: none;
}

.btn-copiar {
    display: flex;
    color: #FFFFFF;
    font-size: 1.5rem;
    border: none;
    border-radius: 24px;
    background: #0A3871;
    position: relative;
    padding: 0.6rem 3rem;
    left: 80%;
    bottom: 5%;
    position: absolute;
}

.btn-copiar:hover {
    background: green;
    cursor: pointer;
    transition: 600ms;
}

footer {
    font-size: 1rem;
    position: relative;
    text-align: center;
    margin: 2rem;
}

footer img {
    width: 1.5%;
}

.copyright {
    padding-top: 0.5rem ;
}

.linkedin {

    text-decoration: none;
    color: #2f70bf;
}

.github {
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {

    body {

        margin: 0;
        padding: 0;
    }

    .imagemLogo {
        display: flex;
        width: 4%;
        left: 1rem;
    }

    h1 {
        top: 1rem;
        font-size: 1.3rem;

    }

    .texto {
        display: flex;
        width: 91%;
        height: 15rem;
        font-size: 1.5rem;
    }

    h6 {
        font-size: 0.7rem;
        display: flex;
        margin-left: 7%;
    }
.botoes{
    display: flex;
    justify-content:space-around;
    margin-right: 14%;

}
    .btn-encriptografar {
        margin-right: 0.5rem;
        padding: 0.7rem 1.5rem;
        font-size: 1.1rem;
    }

    .btn-desencriptografar {
        font-size: 1.1rem;
        padding: 0.7rem 1rem;

    }

    .btn-desencriptografar , .btn-encriptografar{
        z-index: 1;
    }


    .mensagem {
        position: relative;
        z-index: 2;
        top: 50%;
        height: 16rem;
        width: 91%;
        transform: none;
        margin-top: 2rem;
        margin-left: 4%;
        left: auto;
        background-position: center 1rem;
        background-size: 80% 80%;

    }

    .btn-copiar {
        margin-top: 1rem;
        position:relative ;
        padding: 0.7rem 4rem;
        font-size: 1rem;
        z-index: 3;
        transform: translate(-115%);

    }
    footer {
        z-index: 4;
        font-size: 0.9rem;
        padding: 1rem;
    }

    footer img {
        width: 4%;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    body{
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 2rem;
        text-align: center;
    }

    .imagemLogo {
        width: 3%;
        left: 2rem;
    }

    .texto {
        width: 91%;
        height: 25rem;
    }

    h6 {
        font-size: 1rem;
    }

    .btn-encriptografar {
        margin-top: 1rem;
        font-size: 1.4rem;
        padding: 0.65rem 3.8rem;
    }

    .btn-desencriptografar {
        font-size: 1.4rem;
        padding: 0.65rem 3.5rem;
    }

    .btn-encriptografar , .btn-desencriptografar{
        z-index: 1;
    }
    .mensagem {
        margin-top: 2rem;
        z-index: 2;
        width: 91%;
        height: 26rem;
        position: relative;
        background-size: 75% 75%;
        background-position: center center ;
        left: 4%;
    }

    .btn-copiar {
        margin-top: 2rem;
        font-size: 1.5rem;
        position: relative;
        z-index: 3;
        padding: 1rem 5rem;
        transform: translate(-160%);
    }

    footer {
        z-index: 4;
        font-size: 1.2rem;
    }

    footer img {

        width: 4%;
    }
}

@media screen and (orientation: landscape) {
    body {
      display: none;
    }
    
    .mensagem {
      display: none;
    }
}